.products {
	margin-bottom: 44px;

	&__container {}

	&__title {
		text-align: center;
		margin-bottom: 32px;
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
		gap: 32px;
		margin-bottom: 32px;
	}

	&__card {}

	&__button {
		min-width: 245px;
		margin: 0 auto;
		transition: background-color 0.3s, border 0.3s, color 0.3s, filter 0.3s, opacity 1s;
	}
}

.product-card {
	padding: 30px 16px;
	background: #F4F5F7;
	position: relative;

	&:hover {
		.product-card__buttons {
			opacity: 1;
			visibility: visible;
		}
	}

	&__image-wrapper {
		padding: 0 0 105.61% 0;
		/* 301/285 */
		margin-bottom: 16px;
		margin-left: -16px;
		margin-right: -16px;
		margin-top: -30px;
	}

	&__image {}

	&__title {
		font-weight: 600;
		font-size: 1.5rem;
		/* 24px/16 */
		line-height: 1.2;
		color: $titleColor;
		margin-bottom: 8px;
	}

	&__text {
		margin-bottom: 8px;
	}

	&__prices {
		display: flex;
		gap: 16px;
	}

	&__actual-price {
		font-weight: 600;
		font-size: 1.25rem;
		/* 20px/16 */
		color: $titleColor;
	}

	&__previous-price {
		font-weight: 400;
		text-decoration-line: line-through;
		color: #B0B0B0;
	}

	&__buttons {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(58, 58, 58, 0.72);
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiv-value('padding', 42, 16, 1);
		flex-direction: column;
		gap: 24px;
		transition: opacity 0.3s, visibility 0.3s;
		z-index: 2;
	}

	&__add-button {
		border: 1px solid transparent;
		width: 100%;
	}

	&__icon-buttons {
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin-bottom: 32px;
	}

	&__icon-button {}

	&__markers {
		position: absolute;
		max-width: 48px;
		top: 24px;
		right: 24px;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__marker {}

}

.product-icon-button {
	background: transparent;
	color: #fff;
	display: flex;
	align-items: center;

	&__icon {
		font-size: 16px;
		transition: color 0.3s;
	}

	&__text {
		font-weight: 600;
		margin-left: 8px;
		transition: color 0.3s;
	}

	&:hover {
		color: $orange;
	}
}

.product-marker {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;

	&_discount {
		background: #E97171;
	}

	&_new {
		background: #2EC1AC;
	}
}