@import './variables';

[class*='_container'] {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

._bgi-wrapper {
	position: relative;

	._bgi {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.lock {
	overflow: hidden
}

body {
	font-family: 'Gilroy';
	font-weight: 500;
	color: $textColor;
	line-height: 1.5;
	background: #fff;
}

@import './ui';
@import './sections-styles/header.scss';
@import './sections-styles/furniture.scss';
@import './sections-styles/advantages.scss';
@import './sections-styles/products.scss';
@import './sections-styles/rooms.scss';
@import './sections-styles/tips.scss';
@import './sections-styles/galery.scss';