.submenu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 150%;
	left: 0;
	background: $orange;
	padding: 10px 16px;
	width: 200px;
	transition: top 0.2s, opacity 0.3s, height 0.3s, visibility 0.3s;
	z-index: 20;
	pointer-events: none;

	&__list-item {}

	&__link {
		color: #fff;

		&:hover {
			text-decoration: underline;
		}
	}

	@media (max-width: 600px) {
		height: 0px;
		min-width: 100vw;
		margin: 0 -15px;
		overflow: hidden;
		font-weight: 500;
		transition: top 0.2s, opacity 0.3s, height 0.3s;
	}
}

.title {
	font-weight: 700;
	font-size: 2.5rem;
	/* 40px/16 */
	line-height: 1.2;
	color: $titleColor;
}

.button {
	min-height: 48px;
	background-color: $orange;
	color: #fff;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	border: 1px solid transparent;
	transition: background-color 0.3s, border 0.3s, color 0.3s;
	cursor: pointer;

	&:hover,
	&_white {
		background-color: #fff;
		border: 1px solid $orange;
		color: $orange;
	}

	&_white:hover {
		background-color: $orange;
		border: 1px solid transparent;
		color: #fff;
	}

	&_swiper {
		border-radius: 50%;
		font-size: 20px;
		min-width: 48px;
		font-size: 12px;
		padding: 0;
		font-weight: 100;
		transform: rotate(-90deg);
		border: none;

		&:hover {
			color: $orange;
			background-color: rgba(232, 159, 113, 0.3);
			border: none;
		}

		&_lite {
			color: $orange;
			background-color: rgba(232, 159, 113, 0.3);
			transform: rotate(90deg);

			&:hover {
				color: #fff;
				background-color: $orange;
				border: none;
			}
		}
	}
}

.swiper-pagination {}